@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::selection {
    background-color: #55c57a;
    color: #fff;
  }
}

@layer utilities {
  .clip-polygon {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 83%, 0% 100%);
  }
  .clip-polygon-reverse {
    -webkit-clip-path: polygon(0% 23%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 23%, 100% 0%, 100% 100%, 0% 100%);
  }
  .overlay-image {
    content: "";
    position: absolute;
    inset: 0;
    /* background-image: linear-gradient(to right bottom, #7dd56f, #28b487);
    background-image: linear-gradient(to right bottom, #047857, #34d399); */
    background-image: linear-gradient(to right bottom, #22c55e, #34d399);
    opacity: 0.5;
  }

  .animate-Loading:nth-child(1) {
    animation-delay: -0.125s;
  }
  .animate-Loading:nth-child(2) {
    animation-delay: -0.25s;
  }
  .animate-Loading:nth-child(3) {
    animation-delay: -0.375s;
  }
  .animate-Loading:nth-child(4) {
    animation-delay: -0.5s;
  }
  .animate-Loading:nth-child(5) {
    animation-delay: -0.625s;
  }
  .animate-Loading:nth-child(6) {
    animation-delay: -0.75s;
  }
  .animate-Loading:nth-child(7) {
    animation-delay: -0.875s;
  }
  .animate-Loading:nth-child(8) {
    animation-delay: -1s;
  }
}
.map-container {
  @apply h-hero;
}
